* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0 100px;
  /* width: 1140px; */
  /* padding: 0 150px; */
  align-items: center;
  /* gap: 590px; */
}
.logo-section img {
  width: 135px;
  height: 82px;
}
.navigation-bar {
  display: flex;
  gap: 40px;
}
.navigation-bar ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
ul li a {
  text-decoration: none;
  /* white-space: nowrap; */
  color: #a9aaaf;
}
/* end main headersection  */
.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 0 150px; */
  /* display: block; */
  margin-bottom: 100px;
  gap: 60px;
}
.banner-heading {
  font-size: 55px;
  font-weight: bold;
  /* max-width: 500px; */
  margin-bottom: 13px;
  font-family: "Noto Serif", serif;
}
.fresh-flowers {
  color: #e95a08;
  /* display: block; */
}
.banner-description {
  font-size: 22px;
  color: #c7c9cf;
  font-family: "Inter", sans-serif;
}
.banner-img img {
  width: 500px;
  height: 300px;
}
/* end headersection */
.card-section {
}
.card-title {
  text-align: center;
  margin-bottom: 50px;
}
.card-headline {
  font-size: 50px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.card-container {
  margin: 0 0 150px;
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card-1 {
  width: 270px;
  height: 480px;
}
card-1 img {
  height: 322px;
  width: 270px;
}
.card-name {
  font-weight: medium;
  font-size: 22px;
  text-align: center;
}
.card-price {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.card-btn {
  background-color: #e95a08;
  color: #ffffff;
  font-size: 16px;
  /* font-weight: semi bold; */
  padding: 16px 40px;
  width: 270px;
  border: none;
}
.flower-lover {
  margin: 0 0 100px;
  display: flex;
  gap: 100px;
}
.flower-lover img {
  width: 540px;
  height: 597px;
  margin-top: -38px;
}
.flower-lover-heading {
  font-weight: bold;
  font-size: 50px;
  font-family: "Noto Serif", serif;
}
/* .flower-lover-descript ul li {
  gap: 10px;
} */
.lovers-msg {
  font-size: 22px;
  color: #a9aaaf;
  font-family: "Inter", sans-serif;
  /* gap: 10px; */
  margin-bottom: 20px;
}
.image-lover-photo {
  position: relative;
}
/* .badge img {
  width: 50px;
  height: 50px;
} */
.badge img {
  /* border-radius: 50%; */
  position: absolute;
  /* bottom: 100%; */
  top: -115px;
  right: -115px;
  /* transition: translate(50%,50%); */
  width: 250px;
  height: 250px;
  background: none;
  animation: badge 5s linear infinite;
}
/* end flower loverpart */
.flower-part {
  margin: 0 0 100px;
}
/* .flower-heading {
  text-align: center;
} */
.flower-heading h2 {
  font-weight: bold;
  font-size: 50px;
  /* color: rebeccapurple; */
  text-align: center;
  margin-bottom: 16px;
}
.flower-heading p {
  font-size: 22px;
  color: #a9aaaf;
  text-align: center;
  margin-bottom: 100px;
}
.flower-image-section {
  display: flex;
  /* align-items: center; */
  gap: 30px;
}
/* .small-images {
  background-color: none;
} */

.img-1 h4 {
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  /* margin-bottom: 20px; */
}
.img-1 p {
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.img-1 {
  background-image: url("./images/deal-bloom.png"); /* ছবির নাম বা path */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 200px;
  width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.img-2 h4 {
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}
.img-2 p {
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.img-2 {
  background-image: url("./images/deal-ana.png"); /* ছবির নাম বা path */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 200px;
  width: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.large-image {
  background-image: url(./images/deal-zabo.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 420px;
  width: 750px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.large-image h2 {
  font-weight: bold;
  font-size: 40px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}
.large-image h4 {
  font-size: 28px;
  /* font-weight: semi bold; */
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
/* end flowersection */
.bunch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/news-letter-bg.png);
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}
.bunch h2 {
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  background-color: transparent;
  margin-bottom: 23px;
  font-family: "Noto Serif", serif;
}
#email {
  width: 600px;
  height: 30px;
  padding: 15px 15px 10px;
  /* padding: 10px 10px 10px 100px; */
  color: #a9aaaf;
  border: none;
}
.email-section button {
  background-color: #e95a08;
  color: #ffffff;
  font-size: 16px;
  /* font-weight: semi bold; */
  padding: 16px 40px;
  width: 270px;
  border: none;
}
@keyframes badge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* end mainpart */
footer {
  margin: 0 100px 50px;
  /* display: flex; */
}
.footer-section {
  display: flex;
  /* gap: 100px; */
  justify-content: space-between;
}
footer img {
  width: 100px;
  height: 70px;
}
footer p {
  font-size: 22px;
  color: #a9aaaf;
  font-family: "Inter", sans-serif;
  /* gap: 10px; */
  margin-bottom: 20px;
}
footer ul li {
  list-style: none;
  color: #a9aaaf;
  /* gap: 30px; */
}
footer ul li a {
  color: #a9aaaf;
  text-decoration: none;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.column-4 {
  display: flex;
  gap: 20px;
}
.column-4 img {
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 576px) {
  .main-header {
    padding: 0 20px;
  }
  .navigation-bar ul {
    display: none;
  }
  .banner-section {
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding: 0 150px; */
    /* display: block; */
    /* margin-bottom: 100px; */
    /* gap: 60px; */
    flex-direction: column-reverse;
    /* display: flex; */
    row-gap: 28px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-img img {
    width: 100%;
  }
  .banner-left {
    padding: 0 20px;
  }
  .card-title {
    padding: 0 30px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    margin-bottom: 30px;
    gap: 20px;
  }
  .flower-lover {
    /* padding: 80px; */
    margin: 0 0 100px;
    display: block;
    margin-bottom: 20px;
  }
  .flower-lover-heading {
    margin-bottom: 16px;
  }
  .flower-heading p {
    padding: 0 100px;
  }
  .flower-image-section {
    flex-direction: column;
  }
  .badge {
    display: none;
  }

  .custom-padding {
    padding: 0 15px;
  }
  .flower-lover img {
    width: 100%;
  }
  .flower-lover-heading {
    font-size: 24px;
  }
  .footer-section {
    flex-direction: column;
    gap: 30px;
  }
  #email {
    width: 210px;
    height: 100%;
    /* padding: 15px 0 10px; */
    /* padding: 10px 10px 10px 100px; */
    color: #a9aaaf;
    border: none;
  }
  .email-section {
    display: flex;
    width: 320px;
  }
  .bunch h2 {
    font-size: 45px;
  }
  .img-1,
  .img-2 {
    width: 100%;
    background-size: cover;
  }
}
