* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f8ff;
}
.main-header {
  display: flex;
  /* justify-content: space-around; */
  margin: 24px 150px 100px;
  /* padding: 0 150px; */
  align-items: center;
  gap: 590px;
}
.logo-section img {
  width: 135px;
  height: 82px;
}
.navigation-bar {
}
.navigation-bar ul {
  display: flex;
  list-style: none;
  gap: 48px;
}
ul li a {
  text-decoration: none;
}
/* end main headersection  */
.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 150px;
  /* display: block; */
  margin-bottom: 100px;
}
.banner-heading {
  font-size: 55px;
  font-weight: bold;
  /* max-width: 500px; */
  margin-bottom: 13px;
  font-family: "Noto Serif", serif;
}
.fresh-flowers {
  color: #e95a08;
  /* display: block; */
}
.banner-description {
  font-size: 22px;
  color: #c7c9cf;
  font-family: "Inter", sans-serif;
}
.banner-img img {
  width: 500px;
  height: 300px;
}
/* end headersection */
.card-section {
}
.card-title {
  text-align: center;
  margin-bottom: 50px;
}
.card-headline {
  font-size: 50px;
  font-weight: bold;
  font-family: "Noto Serif", serif;
}
.card-container {
  margin: 0 150px 100px;
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.card-1 {
  width: 270px;
  height: 480px;
}
card-1 img {
  height: 322px;
  width: 270px;
}
.card-name {
  font-weight: medium;
  font-size: 22px;
  text-align: center;
}
.card-price {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}
.card-btn {
  background-color: #e95a08;
  color: #ffffff;
  font-size: 16px;
  /* font-weight: semi bold; */
  padding: 16px 40px;
  width: 270px;
  border: none;
}
.flower-lover {
  margin: 0 150px 100px;
  display: flex;
  gap: 50px;
}
.flower-lover img {
  width: 400px;
  height: 450px;
}
.flower-lover-heading {
  font-weight: bold;
  font-size: 50px;
  font-family: "Noto Serif", serif;
}
/* .flower-lover-descript ul li {
  gap: 10px;
} */
.lovers-msg {
  font-size: 22px;
  color: #a9aaaf;
  font-family: "Inter", sans-serif;
  /* gap: 10px; */
  margin-bottom: 20px;
}
.image-lover-photo {
  position: relative;
}
/* .badge img {
  width: 50px;
  height: 50px;
} */
.badge img {
  position: absolute;
  bottom: 70%;
  left: 60%;
  width: 250px;
  height: 250px;
  background: none;
}
/* end flower loverpart */
.flower-part {
  margin: 0 150px 100px;
}
/* .flower-heading {
  text-align: center;
} */
.flower-heading h2 {
  font-weight: bold;
  font-size: 50px;
  /* color: rebeccapurple; */
  text-align: center;
  margin-bottom: 16px;
}
.flower-heading p {
  font-size: 22px;
  color: #a9aaaf;
  text-align: center;
  margin-bottom: 100px;
}
.flower-image-section {
  display: flex;
  /* align-items: center; */
  gap: 20px;
}
/* .small-images {
  background-color: none;
} */

.img-1 h4 {
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
  /* margin-bottom: 20px; */
}
.img-1 p {
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

.img-1 {
  background-image: url("./images/deal-bloom.png"); /* ছবির নাম বা path */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 200px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.img-2 h4 {
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}
.img-2 p {
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.img-2 {
  background-image: url("./images/deal-ana.png"); /* ছবির নাম বা path */
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 200px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.large-image {
  background-image: url(./images/deal-zabo.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 420px;
  width: 700px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.large-image h2 {
  font-weight: bold;
  font-size: 40px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Noto Serif", serif;
}
.large-image h4 {
  font-size: 28px;
  /* font-weight: semi bold; */
  background-color: transparent;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
/* end flowersection */
.bunch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/news-letter-bg.png);
  width: 100%;
  height: 400px;
  margin-bottom: 100px;
}
.bunch h2 {
  font-weight: bold;
  font-size: 60px;
  color: #ffffff;
  background-color: transparent;
  margin-bottom: 23px;
}
#email {
  width: 600px;
  height: 30px;
  padding: 15px 15px 10px;
  /* padding: 10px 10px 10px 100px; */
  color: #a9aaaf;
  border: none;
}
.email-section button {
  background-color: #e95a08;
  color: #ffffff;
  font-size: 16px;
  /* font-weight: semi bold; */
  padding: 16px 40px;
  width: 270px;
  border: none;
}
